* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* general style  */

.btn {
    background-color: #0061FF;
    color: white;
    padding: .4rem .9rem;
    text-align: center;
    text-decoration: none;
}

/* start nav  */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    background-color: white;
}

.left-link, .right-link {
    display: flex;
}

.left-link img {
    height: 25%;
}

.left-link li,
.right-link li {
    display: flex;
    align-items: center;
    padding-inline: 1.2rem;
    height: 100%;
}

.left-link a,
.right-link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
}

#start {
    height: 35%;
    color: white;
    background-color: #0061FF;
    padding-inline: .7rem;
}

/* content header  */

.background-header {
    background-color: #B4D0E7;
    margin-top: 5rem;
}

.big-container {
    max-width: 800px;
    margin-inline: auto;
}

.section-header h1 {
    padding-top: 3rem;
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

.container-section {
    display: flex;
}

.section-header .text {
    flex: 0 1 35%;
    font-size: .9rem;
}

.section-header .image {
    flex: 0 1 65%;
}

.section-header img {
    width: 100%;
    margin-bottom: -100px;
}

.container-section .text p {
    padding-bottom: 1.8rem;
}

.free {
    padding-top: 1.8rem;
}

.free a {
    text-decoration: none;
    color: black;
}

.fa-arrow-down {
    font-size: 2rem;
    padding-top: 3rem;
}

/* start main */

.small-container {
    max-width: 700px;
    margin-inline: auto;
}

.first-title {
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-size: 1.7rem;
}

.fa-circle-dot {
    color: #0061FF;
}

.fa-circle {
    padding-left: 1rem;
}

/* start card */

.container-cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 2rem;
}

.cards {
    width: calc(100% / 3);
    border: 1px solid #DBDBDD;
}

.title-cards {
    text-align: center;
    padding: .7rem;
    border-bottom: 1px solid #DBDBDD;
}

.text-cards {
    padding: 2rem 1.5rem;
    font-size: .7rem;
}

.subtitle-cards {
    padding-bottom: 1.5rem;
}

.price {
    padding-top: .8rem;
    padding-bottom: 3rem;
}

.text-cards li {
    list-style: none;
    padding-bottom: 1rem;
}

.pdng-cards {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.line {
    height: 1px;
    width: 40px;
    border-bottom: 1px solid gray;
    padding-top: 2rem;
}

.text-cards h4 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.fa-check {
    color: #0061FF;
}

.company {
    text-align: center;
}

.btn-company {
    background-color: #0061FF;
    color: white;
    padding: .4rem 3.5rem;
    text-align: center;
    text-decoration: none;
}

.horizontal-card {
    margin-top: 2rem;
    border: 1px solid #DBDBDD;
}

.content-hr {
    display: flex;
}

.title-hr-card {
    text-align: center;
    padding: .7rem;
    border-bottom: 1px solid #DBDBDD;
}

.text-hr-card{
    flex: 0 1 70%;
    padding-inline: 1.5rem;
}

.text-hr-card h4 {
    padding-top: 2rem;
    font-size: 1.3rem;
}

.subtitle-hr-card {
    font-weight: bold;
    padding-top: 1.5rem;
}

.text-hr-card p {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-size: .7rem;
}

.btn-hr-card {
    flex: 0 1 30%;
    padding-top: 3rem;
    padding-right: .7rem;
}

/* end horizontal card */

.first-section-main {
    display: flex;
    max-width: 700px;
    margin-inline: auto;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.image-1-section {
    flex: 0 1 65%;
}

.image-1-section img {
    width: 100%;
}

.text-1-section {
    flex: 0 1 35%;
    padding-left: 2.5rem;
    align-self: center;
}

.text-1-section p {
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    font-size: .7rem;
}

.btn-white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.second-section {
    padding-bottom: 3rem;
}

.second-section h2 {
    padding-bottom: 3rem;
}

.container-card {
    display: flex;
    gap: 2rem;
}

.card-section {
    width: calc(100% / 3);
}

.img-2-section img {
    width: 100%;
}

.text-2-section h3 {
    line-height: 1.5;
    padding-bottom: 1.5rem;
}

.text-2-section p {
    font-size: .7rem;
    padding-bottom: 2rem;
}

.only-title {
    padding-top: 3rem;
    width: 60%;
    line-height: 2rem;
    padding-bottom: 3rem;
}

.container-square {
    display: flex;
    padding-top: 3rem;
    margin: auto;
    max-width: 1270px;
}

.square1 {
    height: 460px;
    width: calc(100% /3);
    display: flex;
    flex-wrap: wrap;
}

.square2 {
    height: 460px;
    width: calc(100% /3);
    display: flex;
    flex-wrap: wrap;
    background-color: #F5F5F5;
}

.square2 img {
    width: 60%;
    padding: 2rem;
}

.square2 p {
    padding: 2rem;
    margin-top: -4rem;
    font-size: .8rem;
}

.author {
    padding-left: 2rem;
    margin-top: -4rem;
}

.square3 {
    height: 460px;
    width: calc(100% /3);
    display: flex;
    flex-wrap: wrap;
}

.minisquare {
    width: 50%;
    height: 50%;
    display: flex;
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat;
}

.m1 {
    background-image: url(../img/designit.svg);
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

.m2 {
    background-image: url(../img/arizona_state_university.svg);
    background-color: #61082B;
}

.m3 {
    background-image: url(../img/university_of_florida.svg);
    background-color: #0093CE;
}

.m4 {
    background-image: url(../img/topps.svg);
    background-color: #FF1C1C;
}

.m5 {
    background-image: url(../img/world_bicycle_relief.svg);
    background-color: #D5001F;
}

.m6 {
    background-image: url(../img/hearst_corp.svg);
    background-color: #B4D0E7;
}

.m7 {
    background-image: url(../img/lonely_planet.svg);
    background-color: #0D2481;
}

.m8 {
    background-image: url(../img/clear_channel.svg);
    background-color: #FFD830;
}